.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-right {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.topnav-right {
  float: right;
}

#navbutton{
	border-radius: 12px;
	font-weight: bold;
	font-size: 15px;

}

.nav-link{
	font-weight: bold;
	font-size: 15px;
}

body{
	background-color:#D3D3D3; 
}

.form-control {
border-radius: 25px;
}

.pagination > li > a, .pagination > li > span{background-color:red}
.pagination > li.active > a, .pagination > li.active > span{background-color:green}